<div *ngIf="listing">
  <div class="row" *ngIf="contentType == 'tvshows' || contentType == 'movies'">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let item of listing">
      <app-item-cover [item]="item" [pathPrefix]="pathPrefix"></app-item-cover>
    </div>
  </div>

  <div class="d-flex flex-column" *ngIf="contentType == 'episodes' || contentType == 'movie' || contentType == 'seasons' || contentType == '' || contentType == null">
    <app-item-table class="border-bottom p-1" *ngFor="let item of listing" [item]="item" [pathPrefix]="pathPrefix" (onOpen)="onOpen.emit(item)" [ngClass]="{'table-success': item.id == highlightItemId}"></app-item-table>
  </div>
</div>
